<main class="bg-dark">
    <section >
        <div class="container list-group align-items-center justify-content-center">
            <div class="row">
                <h1 class="text-center text-white">Acerca de</h1>        
            </div>
            <hr>
            <div class="row gap-5 rounded-circle align-items-center justify-content-center">
                <div class="col-md-4 overflow-hidden img_cir">
                    <!-- <img src="../../../assets/img/IMG_20211112_152729.jpg" class="img-fluid img-thumbnail" alt="Responsive image"> -->
                </div>
                <p class="text-white col-8">
                    Enserio le diste click aqui? quieres saber mas de mi? bueno ya estamos aqui qué le hacemos que tal soy Jonathan Villegas 
                    y esto es una pagina web para que puedas ver mi trabajo y poder conocerme mejor.
                    <br>
                    <br>
                    Apenas comence en esto de la programada le se al Angular, Bootstrap, JavaScript, un poco de NodeJs y Base de Datos
                    la idea aqui es que puedas ver mi trabajo y poder conocerme mejor.
                    <br>
                        <br>
                        Apenas estoy terminando de hacer esta pagina web y estoy trabajando en ella para que sea mas facil de usar y poder
                        practicar mis conocimientos si tienes alguna duda sugerencia o encontraste algun bug enviame un correo  
                        <a href="mailto:villegasonu@gmail.com">villegasonu@gmail.com</a> con gusto revisare cada uno.
                        <br>
                        <br>
                        Por ultimo te dejo mis redes sociales ando en busca de chamba (Esto se quitara cuando lo encuentre) 
                        si tienes algun puesto disponible para un principiante enviame un mensajito.
                        <br>
                        <br>
                </p>
            </div>
            <div class="row gap-5">
                <div class="col text-white display-6 fw-bolder">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="col text-white display-6 fw-bolder">
                    <i class="fab fa-github"></i>
                </div>
                <div class="col text-white display-6 fw-bolder">
                    <i class="fab fa-linkedin-in"></i>
                </div>
                <div class="col text-white display-6 fw-bolder">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>
    </section>
</main>
