<header>
  <div
    class="prueba"
    [ngStyle]="{
      backgroundImage: 'url(https://source.unsplash.com/1200x600/?movie)'
    }"
  >
    <div class="prueba2 p-3 align-items-center justify-content-center">
      <div class="p-5 container rounded-3 text-white">
        <div class="title mb-2">
          <h2>Bienvenido</h2>
          <h3>
            Millones de películas y personas por descubrir. Explora ahora.
          </h3>
        </div>
        <div class="container d-flex justify-content-center mt-5">
          <div class="col-12">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 input-group">
              <input
                type="search"
                [formControl]="searchControl"
                class="form-control form-control-dark"
                placeholder="Busca tu pelicula favorita..."
                aria-label="Search"
              />
              <button type="button" class="btn btn-warning">Buscar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
