.prueba{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    
}
.prueba .prueba2{
    background: #234f6d;
    background: linear-gradient(rgba(0, 0, 100, 0.379) 0%, rgba(0, 0, 0, 0) 100%);
}