<header class="p-3 bg-dark text-white ">
    <div class="container d-flex justify-content-center">
      <div class="d-flex flex-wrap align-items-center justify-content-around justify-content-lg-start">
        <div (click)="_peliculas.goto(['inicio'])">
          <a class="d-flex align-items-center mb-0 mb-lg-0 text-white text-decoration-none">
            <img src="../../../assets/img/purescript_logo.svg" width="60" height="52"  alt="">
          </a>
        </div>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-0 justify-content-center mb-md-0">
          <li (click)="_peliculas.goto(['inicio'])"><a value="inicio"  class="nav-link px-2 text-white">Inicio</a></li>
          <li (click)="_peliculas.goto(['peli'])"><a value="peli"  class="nav-link px-2 text-white">Peliculas</a></li>
          <li (click)="_peliculas.goto(['inicio'])"><a value="recomendados"  class="nav-link px-2 text-white">Recomendaciones</a></li>
          <li (click)="_peliculas.goto(['faqs'])"><a value="faq"  class="nav-link px-2 text-white">FAQs</a></li>
          <li (click)="_peliculas.goto(['acerca'])"><a value="acerca"  class="nav-link px-2 text-white">Acerca de</a></li>
        </ul>
      </div>
    </div>
  </header>
