<section class="bg-dark">
  <div class="container list-group">
    <a
      href="#"
      class="
        list-group-item list-group-item-action
        flex-column
        align-items-start
        border-0
        text-white
        bg-dark
      "
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Quien soy</h5>
      </div>
      <hr />
      <p class="mb-1">
        Hola que tal soy Jonathan Villegas apenas iniciando en esto porfa si
        tienes alguna sugerencia o alguna duda que no esta aqui puedes
        escribirme a mi correo solo dale click aqui
      </p>
    </a>
    <a
      href="https://developers.themoviedb.org/3/getting-started"
      class="
        list-group-item
        mt-3
        list-group-item-action
        flex-column
        border-0
        text-white
        align-items-start
        bg-dark
      "
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">De donde sacaste todas las peliculas?</h5>
      </div>
      <hr />
      <div
        class="
          row
          ${1|
          ,row-cols-2,row-cols-3,
          auto,justify-content-md-center,|}
        "
      >
        <p class="mb-1 col">
          Para esta aplicacion se uso la API de themoviedb.org, quieres saber
          mas dale click enserio dale click.....
        </p>
        <img
          class="col"
          src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
          alt=""
        />
      </div>
    </a>
    <a
      href="#"
      class="
        list-group-item list-group-item-action
        border-0
        text-white
        flex-column
        mt-3
        align-items-start
        bg-dark
      "
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Qué se uso?</h5>
      </div>
      <hr />
      <p class="mb-1">
        Para esta aplicacion se uso Angular, Bootstrap y un buen de comida
        chatarra UwU
      </p>
    </a>
    <a
      href="https://codellege.com/"
      class="
        list-group-item list-group-item-action
        border-0
        text-white
        flex-column
        mt-3
        align-items-start
        bg-dark
      "
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Donde aprendi todo esto?</h5>
      </div>
      <hr />
      <div
        class="
          row
          ${1|
          ,row-cols-2,row-cols-3,
          auto,justify-content-md-center,|}
        "
      >
        <p class="mb-1 col">
          Enserio preguntas eso, obvio que lo aprendi en el programa Codellege
          de SofTek ya sabes que hacer para saber más, agredecimientos
          especiales al JC
        </p>
        <img
          class="col"
          src="https://codellege.com/statics/SVG/codellege-green.png"
          alt=""
        />
      </div>
    </a>
  </div>
</section>
